<header th:fragment="header">
    <nav class="bg-white shadow-md">
        <div class="container mx-auto p-4 flex justify-between items-center">
            <div class="text-2xl font-bold text-orange-400"><a th:href="@{/}">LOCO</a></div>
            <ul class="flex space-x-4">
                <li>
                    <a th:href="@{/recettes}" class="text-gray-700 hover:text-gray-900 hover:underline hover:underline-offset-4 hover:decoration-orange-400" onmouseover="animateUnderline(this)" onmouseout="resetUnderline(this)">Recettes</a>
                </li>
                <li>
                    <a th:href="@{/listesdecourse}" class="text-gray-700 hover:text-gray-900 hover:underline hover:underline-offset-4 hover:decoration-orange-400" onmouseover="animateUnderline(this)" onmouseout="resetUnderline(this)">Listes de courses</a>
                </li>
                <li>
                    <a th:href="@{/stock}" class="text-gray-700 hover:text-gray-900 hover:underline hover:underline-offset-4 hover:decoration-orange-400" onmouseover="animateUnderline(this)" onmouseout="resetUnderline(this)">Stock</a>
                </li>
            </ul>
        </div>
    </nav>
</header>