<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOCO - Accueil</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-900">

    <div th:replace="~{/fragments/fragment-header :: header}"></div>

    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-bold mb-4">Recettes</h1>

        <!--Listes de recettes-->
        <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
            <thead class="bg-gray-200">
                <tr>
                    <th class="py-2 px-4 border-b border-gray-300">Nom</th>
                    <th class="py-2 px-4 border-b border-gray-300">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="recette : ${recettes}" class="hover:bg-gray-100">
                    <td class="py-2 px-4 border-b border-gray-300 text-center" th:text="${recette.name}"></td>
                    <td class="py-2 px-4 border-b border-gray-300 text-center" th:text="${recette.description}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Ajouter une recette-->

    <script src="js/app.js"></script>
</body>
</html>